<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="vendors/material.css">
    <script src="vendors/material.js"></script>
    <link rel = "stylesheet" href = "../styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <title>Stephanie Ratanas // ABOUT</title>
</head>
<body class = "nonHomeBody">
       
        <div class = "row">
                <div class = "column">
                    <div class = "headerthing">STEPHANIE RATANAS</div>
                    <div class = "aboutMe" id = "words"><p>
                            Hello! I am a writer of words and a writer of code based in Minneapolis, Minnesota, USA. 
                            I have a certificate in Full Stack Engineering from Prime Digital Academy in Minneapolis, and BA in 
                            journalism with creative writing minor 
                            from DePaul University in Chicago. My writing has covered Chicago ward politics, housing issues, 
                            feminism, LGBTQ rights, mental health and other topics too random to continue listing. For over 
                            a decade, I worked in the coffee industry as a buyer and in other positions. I wrote about 
                            coffee growing communities, the complexities of the supply chain at farm level and how tasty 
                            coffee was or was not. You can find some of that writing <strong><a href = "https://www.dogwoodcoffee.com/blogs/news/tagged/green-sourcing">here</a></strong>.
                            <br><br>
                            In the spring of 2016, I was selected as a mentee in the Association of Writers and Writing Programs 
                            Writer to Writer mentorship program. The experience deeply influenced my life in ways beyond craft, 
                            and I am inspired to pay that inspiration forward. As of March I have become a volunteer mentor for the 
                            Minnesota Prison Writing Workshop.
                            <br><br>
                            When I am not writing or reading, I enjoy travel, camping in style, watercolor painting, caring for 
                            house plants, drinking wine, and dog-centric activities with my border collie, Kevin.
                    </p>
                <br><br>
                </div>
                </div>
                <div class = "column">
                    <nav class="mdl-navigation" id="theNav" align="right">
                    <a class = "navlinks" href="/index.html">HOME</a>
                    <a class = "navlinks" href="#">ABOUT</a>
                  
                    <div class="dropdown">
                        <button class="dropbtn">WORK</button>
                         <div class="dropdown-content">
                            <a href="./code.html">CODE</a>
                            <a href="./writing.html">WRITING</a>
                            <!-- <a href="#">Link 3</a> -->
                        </div>
                  </div>
                    <a class = "navlinks" href="./contact.html">CONTACT</a>    
                    </nav>
                </div>
            </div>
            
                    <div class = "column">
                        <div class = "aboutMePhoto">
                            <img src = "../images/stephaniehuehue.jpg" id = "huehue">
                        </div>
                    </div>
                    


</body>
</html>
       



