<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel = "stylesheet" href = "../styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <title>Stephanie Ratanas // CODE</title>
</head>
<body class = "nonHomeBody">
       
        <div class = "row">
                <div class = "column">
                    <div class = "headerthing">STEPHANIE RATANAS</div>

                </div>
                <div class = "column">
                    <nav class="mdl-navigation" id="theNav" align="right">
                    <a class = "navlinks" href="http://www.stephanieratanas.com/">HOME</a>
                    <a class = "navlinks" href="./about.html">ABOUT</a>
                  
                    <div class="dropdown">
                        <button class="dropbtn">WORK</button>
                         <div class="dropdown-content">
                            <a href="#">CODE</a>
                            <a href="./writing.html">WRITING</a>
                            <!-- <a href="#">Link 3</a> -->
                        </div>
                  </div>
                    <a class = "navlinks" href="./contact.html">CONTACT</a>    
                    </nav>
                </div>
            </div>
            
            <div class = "codeText" id = "words"><p>
                    I am a web developer with a certificate in Full Stack Engineering from Prime Digital Academy in Minneapolis, MN. 
                    I spent the last decade working in the specialty coffee industry as a buyer, 
                    as well as other positions. During my time as a buyer, I picked up additional 
                    roles as needed in design and web and found I loved the logic and evolving 
                    nature of technology. My interests inspired me to become a full time student, 
                    and pursue a career in web development.
                    <br><br>
                    I am versed in the following technologies:
                    <ul>
                        <li>MEAN stack: MongoDB, Express.js, AngularJS, Node.js</li>
                        <li>JavaScript</li>
                        <li>jQuery</li>
                        <li>SQL</li>
                        <li>PostgreSQL</li>
                        <li>HTML 5</li>
                        <li>CSS 3</li>
                        <li>Python*</li>
                        <li>React*</li>
                        <li>Passport</li>
                        <li>Git</li>
                        <li>GitHub</li>
                        <li>Filestack</li>
                        <li>Moment.js</li>
                        <li>Bootstrap</li>
                        <li>AngularJS Material</li>
                        
                    </ul>
            Please visit my GitHub for my recent projects: ​<a href="https://github.com/sratanas">https://github.com/sratanas</a>
            <br><br>
            *Currently learning
            </p></div>

</body>
</html>
       