<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="vendors/material.css">
    <script src="vendors/material.js"></script>
    <link rel = "stylesheet" href = "../styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <title>About</title>
</head>
<body class = "nonHomeBody">
       
        <div class = "row">
                <div class = "column">
                    <div class = "headerthing">STEPHANIE RATANAS</div>

                </div>
                <div class = "column">
                    <nav class="mdl-navigation" id="theNav" align="right">
                    <a class = "navlinks" href="../index.html">HOME</a>
                    <a class = "navlinks" href="./about.html">ABOUT</a>
                  
                    <div class="dropdown">
                        <button class="dropbtn">WORK</button>
                         <div class="dropdown-content">
                                <a href="./code.html">CODE</a>
                                <a href="./writing.html">WRITING</a>
                        </div>
                  </div>
                    <a class = "navlinks" href="#">CONTACT</a>    
                    </nav>
                </div>
            </div>
            
            <div class = "codeText" id = "words"><p>
                <h2>ME, ON THE INTERNET</h2>
                <br>
                <p>
                    stephanieratanas [at] gmail.com
                    <br><br>
                    <a href = "https://github.com/sratanas">GitHub</a>
                    <br><br>
                    <a href = "https://www.linkedin.com/in/stephanie-ratanas/">LinkedIn</a>
                    <br><br>
                    <a href = "https://twitter.com/tinyatoxin">Twitter</a>
                    <br><br>
                    <a href = "https://www.instagram.com/tinyatoxin/">Instagram</a>
                    <br><br>
                    <a href = "https://www.facebook.com/stephanie.ratanas">Facebook</a>
                </p>
            </p></div>

</body>
</html>
       