<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="vendors/material.css">
    <script src="vendors/material.js"></script>
    <link rel = "stylesheet" href = "../styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <title>About</title>
</head>
<body class = "nonHomeBody">
       
        <div class = "row">
                <div class = "column">
                    <div class = "headerthing">STEPHANIE RATANAS</div>

                </div>
                <div class = "column">
                    <nav class="mdl-navigation" id="theNav" align="right">
                    <a class = "navlinks" href="http://www.stephanieratanas.com/l">HOME</a>
                    <a class = "navlinks" href="./about.html">ABOUT</a>
                  
                    <div class="dropdown">
                        <button class="dropbtn">WORK</button>
                         <div class="dropdown-content">
                                <a href="./code.html">CODE</a>
                                <a href="./writing.html">WRITING</a>
                        </div>
                  </div>
                    <a class = "navlinks" href="./contact.html">CONTACT</a>    
                    </nav>
                </div>
            </div>
            
            <div class = "codeText" id = "words"><p>
                <h2>SELECTED WRITING</h2>
                <br>
                <p>
                        <a href="http://midwestgothic.com/2011/01/issue-23-fall-2016/">The Dirty City [essay,] Midwestern Gothic, Issue 23, October 2016 (print only)</a>
                        <br><br>
                        <a href="http://www.scanews.coffee/2016/03/01/technology-of-our-own-developing-information-and-communication-technology-for-the-coffee-industry/">Technology Of Our Own: Developing Information and Communication Technology for the Coffee  
                        Industry [article,] Specialty Coffee Chronicle, March 2016</a>
                        <br><br>
                        Hair Snag [essay, instructional], Creative Ladies are Powerful (CLAP Zine) Spring 2012 (print only)
                        <br><br>
                        Desperate Paycheck [essay], Creative Ladies are Powerful (CLAP Zine) Winter 2011 (print only)
                        <br><br>
                        <a href="https://newcity.com/2008/01/31/winter-brake-biking-in-the-chicago-cold/">Winter Brake: Biking in the Chicago Cold [article, cover story,] Newcity Magazine, January 2008</a>
                        <br><br>
                        <a href="https://newcity.com/2008/06/19/take-it-off-bikers-strip-in-protest-of-oil-dependency/">Take it off: Bikers strip in protest of oil dependency [article,] Newcity Magazine, July 2008</a>
                        <br><br>
                        <a href="https://newcity.com/2007/10/11/talk-hard-fcc-for-you-and-me/">Talk Hard: FCC for you and me [article,] Newcity Magazine, October 2007</a>
                        <br><br>
                        <a href="https://newcity.com/2008/05/22/summer-in-avondale/">Summer in Avondale [Essay] Newcity Magazine, May 2008</a>
                        <br><br>
                        <a href="https://resto.newcity.com/2008/07/22/after-dark-edgewaters-moodys-pub-lights-up-in-the-summer/">After Dark: Edgewater's Moody's Pub lights up in the summer [article/review,] Newcity Magazine, July 2008</a>
                        <br><br>
                        Teacher Tussle: "Renaissance 2010" and the fight to keep schools open [article,] Newcity Magazine, March 2008
                        <br><br>
                        Interview with Bernardine Dohrn, Vacant Lot Magazine, March 2007
                        <br><br>
                        Dogwood coffee Blog: http://www.dogwoodcoffee.com/blogs/news/tagged/green-sourcing
                </p>
                <br><br>
            </p></div>

</body>
</html>
       